@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-text {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.logo-img {
  width: 120px;
  height: 120px;
}

ul {
  list-style: none;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  display: flex;
  gap: 30px;
  font-size: 18px;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

.info {
  background-color: #1f2937;
  display: flex;
  padding: 50px;
  justify-content: space-around;
  gap: 70px;
}

.title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.description {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 18px;
  width: 800px;
}

.shop-img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.shop-desc {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sign-up-btn,
.sign-up-btn-2 {
  border-radius: 8px;
  background-color: #3882f6;
  padding: 7px 30px;
  color: #f9faf8;
  border: none;
  font-size: 18px;
}

.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.desc-2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.mouse-desc {
  color: rgb(49, 44, 44);
  text-align: center;
}
.mouse img {
  width: 220px;
  height: 220px;
  border-radius: 30px;
  border: solid #3882f6 5px;
}

.products {
  padding: 20px;
  display: flex;
  gap: 70px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.mouse {
  display: flex;
  flex-direction: column;
  width: 220px;
  gap: 20px;
}

.sign-up-btn-2 {
  border: solid white 3px;
  color: white;
  background-color: #3882f6;
}

.fancy-text {
  background-color: #e5e7eb;
  padding: 100px;
  font-size: 36px;
  color: #1f2937;
  font-weight: lighter;
  font-style: italic;
  line-height: 55px;
  margin-bottom: 50px;
}

.sign-up {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
  width: 75%;
  align-self: center;
  border-radius: 7px;
  margin-bottom: 50px;
}

.call {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #e5e7eb;
}

.call-to-action {
  font-size: 28px;
  color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: #e5e7eb;
  font-size: 18px;
}
